@model IEnumerable<APIWithWeb.Models.Anhmonan>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Anhmon)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MamonNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Anhmon)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MamonNavigation.Mamon)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdAma">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IdAma">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdAma">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
